*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


.seven h1 {
text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;
 font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

}

.seven h1:after,.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
  background-color:#f8f8f8;
}





















.gotom {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #27ae60;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
}






.header{
	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(9999.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 8%;
	transition: 1s
}

nav .logo{
	display: flex;
	align-items: center;
	font-size: 26px;
	font-weight: 600;
	color: #fff;
}

nav .logo img{
	width: 160px;
	margin-right: 10px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-family: 'Chau Philomene One', sans-serif;

}

nav:hover{
	background: #fff;
}
nav:hover .logo{
	color: #333;
}
nav:hover ul li a{
	color: #333;
}


.text-box{
	width: 98%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
	font-family: 'Chela One', cursive;
	font-size: 80px;
}
.text-box p {
	font-size: 22px;
	margin: 10px 0 40px;
	color: #fff;
	font-family: 'BenchNine', sans-serif;

}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	padding: 12px 34px;
	font-size: 17.5px;
	background: transparent;
	position: relative;
	cursor: pointer;
	font-family: 'Concert One', cursive;

}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}





.wrapper {
  
  display: grid;
  place-items: center;
}

.typing-demo {

  width: 50ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  0% {
    border-color: transparent
  }
}







.container{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	background-color: #c1c1c1;
	


}



.section{
	width: 100%;
	min-height: 80vh;
	background-color: #c1c1c1;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;

}
.image-section img{
	width: 100%;
	height: auto;
	
	 border: 5px solid red;
}

.image-section2{
	float: right;
	width: 100%;
}
.image-section2 iframe{
	width: 100%;
	height: auto;
	 border: 5px solid red;
	
}

.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Acme', sans-serif;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;

}
.content-section .content p{
	margin-top: 10px;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	font-family: 'Concert One', cursive;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}

.image-section2{
	float:none;
	width:100%;
	
}
.image-section2 iframe{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}

.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
 
}





.gal{
	
background: #aebaba none repeat scroll 0 0;
    border-color:  #33e6ff ;
    border-style: inset;
    color: black;
    font-size: 15px;
    padding: 20px;
	font-family: 'Lobster Two', cursive;
}




.container2 {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 75vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 





























.back{
	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(mari2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu {
	

}

#g1avesh h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;

}


.container123 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}



.ccard {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.ccard-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.ccar-1{
	background-image: url(11.jpg);
}

.ccar-2{
	background-image: url(3.jpg);
}

.ccar-3{
	background-image: url(1311.jpg);
}

.ccar-4{
	background-image: url(14.jpg);
}

.ccar-5{
	background-image: url(15.jpg);
}

.ccar-6{
	background-image: url(16.jpg);
}

.ccar-7{
	background-image: url(18.jpg);
}

.ccar-8{
	background-image: url(19.jpg);
}

.ccar-9{
	background-image: url(21.jpg);
}


.ccard a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.ccard a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.ccard:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}














.back1{
	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(colombo.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu1 {
	

}

#gavesh1 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container1234 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.card {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.card-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.car-1{
	background-image: url(112.jpg);
}

.car-2{
	background-image: url(113.jpg);
}

.car-3{
	background-image: url(114.jpg);
}

.car-4{
	background-image: url(115.jpg);
}

.car-5{
	background-image: url(116.jpg);
}

.car-6{
	background-image: url(117.jpg);
}

.car-7{
	background-image: url(118.jpg);
}

.car-8{
	background-image: url(119.jpg);
}


.card a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.card a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.card:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}












.back11{



	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(colombo.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu11 {
	

}

#gavesh11 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container12345 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.mcard {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.mcard-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.mcar-1{
	background-image: url(111111.jpg);
}

.mcar-2{
	background-image: url(11111.jpg);
}

.mcar-3{
	background-image: url(222.jpg);
}

.mcar-4{
	background-image: url(123123.jpg);
}



.mcard a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.mcard a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.mcard:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}










.back111{



	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(colombo.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu111 {
	

}

#gavesh111 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container123456 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.mmcard {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.mmcard-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.mmcar-1{
	background-image: url(gg.jpg);
}

.mcar-2{
	background-image: url(ggg.jpg);
}

.mmcar-3{
	background-image: url(gggg.jpg);
}



.mmcard a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.mmcard a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.mmcard:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}


















.back1111{



	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bforella.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu1111 {
	

}

#gavesh1111 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container1234567 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.mmmcard {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.mmmcard-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.mmmcar-1{
	background-image: url(321.jpg);
}

.mmmcar-2{
	background-image: url(321321.jpg);
}

.mmmcar-3{
	background-image: url(345.jpg);
}



.mmmcard a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.mmmcard a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.mmmcard:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}










.back11111{



	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(backforjaff.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu11111 {
	

}

#gavesh11111 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container12345678 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.mmmmcard {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.mmmmcard-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.mmmmcar-1{
	background-image: url(minidu1.jpg);
}

.mmmmcar-2{
	background-image: url(minidu2.jpg);
}

.mmmm3car-3{
	background-image: url(minidu3.jpg);
}



.mmmmcard a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.mmmmcard a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.mmmmcard:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}




















.back11111{



	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(backforgall.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.minidu11111 {
	

}

#gavesh111112 h2 {
	color: black;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}


.container12345678 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.mmmm2card {
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}


.mmmm2card-image {

	height: 225px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}

.mmmm2car-1{
	background-image: url(144.jpg);
}

.mmmm2car-2{
	background-image: url(1444.jpg);
}

.mmmmcar-3{
	background-image: url(minidualwis.jpg);
}



.mmmm2card a {

	background-color: transparent;
	color: black;
		border:1px solid black;
	padding: 15px 5px;
	display: block;
	text-align: center;
	margin: 30px 60px;
	font-family: 'Chela One', cursive;

}

.mmmm2card a:hover{
		border: 1px solid #f44336;
	background: white;
	transition: 1s;
}

.mmmm2card:hover{
	background-color: #80cdfb;
	color: white;
	cursor: pointer;
	transform: scale(1.03);
}



.mada {
	background-color: black;
	width: 100%;
	height: 2%;

}