*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.gotom {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #27ae60;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
}




.seven h1 {
text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;
font-family: 'Chau Philomene One', sans-serif;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

}

.seven h1:after,.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
  background-color:#f8f8f8;
}







.header{
	width: 100%;
	min-height: 100vh; 
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(4445.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 8%;
	transition: 1s
}

nav .logo{
	display: flex;
	align-items: center;
	font-size: 26px;
	font-weight: 600;
	color: #fff;
}

nav .logo img{
	width: 160px;
	margin-right: 10px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-family: 'Chau Philomene One', sans-serif;

}

nav:hover{
	background: #fff;
}
nav:hover .logo{
	color: #333;
}
nav:hover ul li a{
	color: #333;
}



.text-box{
	width: 98%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
	font-family: 'Chela One', cursive;
	font-size: 80px;
}
.text-box p {
	font-size: 28px;
	margin: 10px 0 40px;
	color: #fff;
	font-family: 'BenchNine', sans-serif;

}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	padding: 12px 34px;
	font-size: 17.5px;
	background: transparent;
	position: relative;
	cursor: pointer;
	font-family: 'Concert One', cursive;

}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}





.wrapper {
    
  display: grid;
  place-items: center;
}

.typing-demo {

  width: 50ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  0% {
    border-color: transparent
  }
}







#pata {
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(6666.jpg);
	width: 100%;
	min-height: 85vh; 
	
	background-position: center;
	background-size: cover;
	position: relative;
}


















input,textarea, a{
    font-family: 'Roboto', sans-serif;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}





















